  body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
  }

  h1 {
    color: firebrick;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 15px ridge red;
  }

  h2 {
    font-size: 1.5em;
    font-family: cursive;
  }
    div {
        background-color: lightgray;
    }

  .job-title {
    color: currentColor;
    font-weight: bold;
  }

  a:link,
  a:visited {
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: green;
  }
  ul{
    border: 5px solid purple;
    background-color: dimgray;
    color: white;
  }  
